html * {
  font-family: 'Orbitron', sans-serif;
}

p {
  color: rgb(169, 169, 169);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 9.5vw;
  position: fixed;
  bottom: 20px;
  z-index: 99;
}
#results-container {
  height: 100%;
}

#welcome-container{
  justify-content: center;
  height: 80vmin;
}

.result-line {
  margin: 25px;
}

.selection-title {
  margin-top: 3vw;
  margin-bottom: 1vw;
  background-color: transparent;
}

.continue-button, button {
  display: inline-block;
  padding: 1vw 3vw;
  text-decoration: none;
  background: linear-gradient(rgba(250, 252, 255, 0.25), rgba(250, 252, 255, 0.1));
  color: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 8vw !important;
  font-size: 21px !important;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  backdrop-filter: blur(5px);
}

.continue-button:hover, button:hover {
  background: linear-gradient(rgba(250, 252, 255, 0.35), rgba(250, 252, 255, 0.15));
}

.continue-button:disabled {
  background: linear-gradient(rgba(250, 252, 255, 0.35), rgba(250, 252, 255, 0.15));
  color: rgba(250, 252, 255, 0.25);
  cursor: not-allowed;
}

.progress-bar-horizontal {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  width: 50%;
}

.step {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(68, 68, 68);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.line {
  height: 1px;
  background-color: rgb(68, 68, 68);
  flex-grow: 1;
  z-index: 99;
}

.step.completed {
  background-color: #ffffff; /* Green color for completed steps */
  width: 12px;
  height: 12px;
}

.line.completed {
  background-color: #ffffff; /* Green color for completed steps */
}


@keyframes glow {
  0% {
    box-shadow: 0 0 8px 4px rgb(255, 255, 255, 0.25); /* Initial shadow */
  }
  50% {
    box-shadow: 0 0 20px 10px rgb(255, 255, 255, 0.5);/* Intermediate glow effect */
  }
  100% {
    box-shadow: 0 0 8px 4px rgb(255, 255, 255, 0.25); /* Return to the original shadow */
  }
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 99;
    position: relative;
    flex-direction: column;
    text-align: center;
}

.main-box{
  width: 60%;
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#main-box-2 {
width: 90%;
align-items: center;
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-top: 1vw;
/*background: linear-gradient(rgba(250, 252, 255, 0.1), rgba(250, 252, 255, 0.05));
backdrop-filter: blur(5px);
margin-top: 0px;
border-radius: 20px;
border-style: solid;
border-width: 1px;
border-color: rgb(68, 68, 68);*/
}

label {
  font-family: 'Orbitron', sans-serif;
  color: white;
  background-color: transparent;
  margin: 25px;
  font-size: 28px;
}

#profession {
  width: 400px;
  height: 55px;
  background: linear-gradient(rgba(250, 252, 255, 0.1), rgba(250, 252, 255, 0.05));
  backdrop-filter: blur(5px);
  border-radius: 25px;
  color: white;
  margin: 10px;
  border: 1px solid #9e9e9e;
}

.main-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 8vw;
    font-weight: bolder;
}

h1 {
  background: linear-gradient(rgb(255, 255, 255), rgba(57, 57, 57, 0.3)); 
  color: blue;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1 !important;
  font-family: 'Orbitron', sans-serif;
  font-size: 8vw !important;
  font-weight: bolder !important;
  margin: 0px;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 28px !important;
  color: white !important;
  margin: 5px;

}

h3 {
  background: rgb(255, 255, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1 !important;
  font-family: 'Orbitron', sans-serif;
  font-size: 28px !important;
  font-weight: bolder !important;
}

h4 {
  background: linear-gradient(rgb(255, 255, 255), rgba(57, 57, 57, 0.3)); 
  color: blue;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1 !important;
  font-family: 'Orbitron', sans-serif;
  font-size: 6vw !important;
  font-weight: bolder !important;
}

h5 {
  /*background: linear-gradient(rgb(255, 9, 9), rgba(50, 19, 206));*/
  color: rgb(255, 9, 9);
  line-height: 1.1 !important;
  font-family: 'Orbitron', sans-serif;
  font-size: 8vw !important;
  font-weight: bolder !important;
}

.toggle-container {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.toggle-circle {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background: linear-gradient(rgba(250, 252, 255, 0.1), rgba(250, 252, 255, 0.05));
  backdrop-filter: blur(5px);
  border: 1px solid #4f4f4f;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.8vw;
  color: #ababab;
  transition: background-color 0.3s, color 0.3s, width 0.2s, height 0.4s, font-size 0.3s;
  margin: 5px;
}

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle-circle:hover {
  background: linear-gradient(rgba(250, 252, 255, 0.2), rgba(250, 252, 255, 0.075));
  backdrop-filter: blur(5px);
}

.toggle-container.active .toggle-circle {
  background: linear-gradient(rgba(250, 252, 255, 0.25), rgba(250, 252, 255, 0.1));
  color: white;
  width: 7.5vw;
  height: 7.5vw;
  font-size: 0.85vw;
  animation: glow 2s infinite;
}

.footnote {
  width: 50%;
  text-align: left;
  font-size: 12px;
  background-color: transparent;
}

html, body {
    margin: 0;
    height: 100%;
}
  
canvas {
    display: block;
    vertical-align: bottom;
}
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:transparent;
    background: black;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  /* ---- stats.js ---- */
  
  .count-particles{
    background: #ffffff;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }